<div class="mt-4">
    <form method="POST" action="/search">
        <div class="form-group">
            <label for="serach-input" class="mb-2">Từ khóa</label>
            <input type="text" name="name" class="form-control" id="keyword-input" placeholder="Nhập keyword">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Tìm kiếm</button>
    </form>
</div>